:root {
    /* Colors */
    --primary-color: #5bbbe0;
    --secondary-color: #327bb8;
    --border-color: #bebbbb;
    --btn-bg-color: var(--primary-color);
    --bg-color: #e7fcfc;

    /* Other */
    --border-radius: 5px;
}
