main {
    display: grid;
    justify-items: center;
    padding-top: 2rem;
}

header {
    position: relative;
}

.weather-icon {
    width: 50px;

    &.icon-sun {
        position: absolute;
        right: 0;
        transform: translate(35px, -12px);

        @media screen and (max-width: 768px) {
            transform: translate(40px, -20px);
        }
    }
}

.form {
    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
    }
}

.input {
    font-size: 20px;
    height: 50px;
    padding: 0 10px;
    margin-bottom: 20px;

    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);

    &:focus {
        outline: 1px solid var(--primary-color);
    }

    @media screen and (max-width: 768px) {
        font-size: 15px;
        margin-bottom: 10px;
    }
}

.weather-output {
    display: none;
    min-width: 20rem;
    padding: 2rem;
    background-color: white;
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius);
}

.error {
    text-align: center;
}

.weather-data-main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.weather-data-icon {
    padding: 0.2rem;
    margin: 0.5rem 0;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.temperature {
    font-size: 2rem;
    font-weight: 700;
}

.weather-data-desc {
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;

    .weather-desc-2 {
        font-size: 1.1rem;
    }
}

.fav-section {
    position: absolute;
    right: 0;
    top: 0;

    display: flex;
    padding: 1rem;

    @media screen and (max-width: 768px) {
        position: relative;
        justify-content: center;
    }

    .fav-icon {
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
}
