main {
    display: grid;
    justify-items: center;
    padding-top: 2rem;
}

header {
    position: relative;
}

.weather-icon {
    width: 50px;
    position: absolute;
    right: 0;
    transform: translate(35px, -12px);
}

.input {
    height: 50px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 0 10px;
    font-size: 20px;
    margin-bottom: 20px;
}

.input:focus {
    outline: 1px solid var(--primary-color);
}
