.btn {
    cursor: pointer;
    color: white;
    background-color: var(--btn-bg-color);
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

.submit {
    text-align: center;
    text-decoration: none;
}
